.grid-container {
  display: grid;
  gap: 10px 40px; /* it is equal to row-gap: 10px; column-gap: 40px */
}
.grid-item:nth-child(1) {
  grid-column: 1 / 3;
  text-align: left;
}
.card {
  top: 234px;
  left: 757px;
  /* width: 605px;
  height: 574px; */
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(3,3,3,0.1);
  /* min-width: 450px;
  max-width: 700px; */
}
.card-header-text {
  color: #030303;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 26px;
}
.card-text {
  color: #030303;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 18px;
}

.landing-header-text {
  color: #222222;
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 42px;
}

.course-card-item {
  width: 306px;
  height: 402px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 24px;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.08);
}
