.pageContainer {
  display: table;
  width: 100%;
  height: 100vh;
}
.leftSide {
  display: table-cell;
  height: 100%
}
.rightSide {
  display: table-cell;
  vertical-align: top;
  background-color: rgb(241, 234, 234);
  width: 50%;
  height: 100%;
  color: rgba(255, 255, 255, 0.6);
}

/* 모바일 (해상도 360px ~ 767px)*/ 
/* 테블릿 (해상도 768px ~ 1199px)*/ 
@media all and (min-width:360px) and (max-width:1199px) {
  .leftSide {
    display: none;
  }
  .rightSide {
    width: 100%;
  }
}